<div>
  <button id="fetch1">Fetch 1</button>
  <button id="fetch2">Fetch 2</button>
  <button id="save1">Save 1</button>
  <button id="save2">Save 2</button>
  <button id="destroy">Destroy</button>
</div>
